.Hero {
  background-image: url('../images/hero.jpg');
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  color: white;
  text-align: center;

  & h1 {
    margin-bottom: 0.26em;
    color: white;
    font-weight: 500;

    @media (--range-palm) {
      font-size: 24px;
      line-height: 1.3em;
      letter-spacing: -0.05px;
    }
    @media (--range-hand) {
      font-size: 28px;
      line-height: 1.3em;
      letter-spacing: -0.05px;
    }
    @media (--range-lap) {
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: -0.2px;
    }
    @media (--range-desk) {
      font-size: 42px;
      line-height: 1.2;
      letter-spacing: -0.2px;
    }
  }

  & p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.05px;

    @media (--range-palm) {
      margin-bottom: 24px;
      font-size: 16px;
    }
    @media (--range-hand) {
      margin-bottom: 24px;
      font-size: 16px;
    }
    @media (--range-lap) {
      margin-bottom: 40px;
    }
    @media (--range-desk) {
      margin-bottom: 40px;
    }
  }

  & a.Link {
    color: white;
    box-shadow: 0 2px var(--white-50A);

    &:hover {
      box-shadow: 0 2px var(--white-500);
    }

    &:focus {
      outline: 2px solid var(--white-200A);
      outline-offset: 4px;
    }
  }
}

.OutlineButtonWhite {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  box-shadow: inset 0 0 0 2px var(--white-50A);
  border-radius: 4px;

  &:focus {
    box-shadow: inset 0 0 0 2px var(--white-200A);
  }

  &:hover {
    box-shadow: inset 0 0 0 2px var(--white-500);
  }

  &:active {
    background-color: var(--white-50A);
    box-shadow: inset 0 0 0 2px var(--white-500);
  }
}

.Hero-inner {
  max-width: 1080px;
  display: flex;
  flex-direction: column;

  @media (--range-palm) {
    padding: 0 5%;
    margin-top: 24px;
    justify-content: flex-start;
    padding-bottom: 40px;
  }
  @media (--range-hand) {
    padding: 0 6%;
    margin-top: 40px;
    justify-content: flex-start;
    padding-bottom: 40px;
  }
  @media (--range-lap) {
    padding: 0 8%;
    max-width: 760px;
    margin-top: 40px;
    justify-content: center;
    height: 60vh;
    min-height: 400px;
  }

  @media (--range-desk) {
    padding: 0 40px;
    justify-content: center;
    height: 60vh;
    min-height: 400px;
  }

  @media (--range-desk-l) {
    padding: 0;
  }
}

.Hero-logo {
  margin-bottom: 40px;
  flex: none;
  height: 32px;
  min-height: 32px;
}

.Hero-buttons {
  margin-top: 12px;
}
